app/__pycache__/*

app/tools/trace_sv_diag/__pycache__/*
app/tools/trace_sv_diag/dataset/*

app/tools/trace_svnd_diag/__pycache__/*
app/tools/trace_svnd_diag/dataset/*

app/tools/TraTopoRca/dataset/*
app/tools/TraTopoRca/results/*
app/tools/TraTopoRca/tools/__pycache__/*
app/tools/TraTopoRca/tracegnn/__pycache__/*
app/tools/TraTopoRca/tracegnn/data/__pycache__/*
app/tools/TraTopoRca/tracegnn/models/__pycache__/*
app/tools/TraTopoRca/tracegnn/models/gtrace/__pycache__/*
app/tools/TraTopoRca/tracegnn/models/gtrace/models/__pycache__/*
app/tools/TraTopoRca/tracegnn/utils/__pycache__/*
app/tools/TraTopoRca/tracegnn/utils/hostutils/__pycache__/*