*__pycache__
*dataset
*results
*.vscode
*build/
*log/
*.serena
*.DS_Store

app/tools/TraTopoRca/score_distribution_debug.csv
app/data/tianchi/.env
app/data/tianchi/data/*


app/tools/tracezly_rca/processed/*
app/tools/tracezly_rca/tianchi/*