*__pycache__
*data
*dataset
*results
*.vscode
*build/
*log/
*.serena
*.DS_Store

app/tools/TraTopoRca/score_distribution_debug.csv
app/dataset/tianchi/.env


app/tools/tracezly_rca/processed/*
app/tools/tracezly_rca/tianchi/*